.clear {
    width: 0;
    height: 0;
    clear: both;
    display: block;
}
.g-keyboard {
    width: 100%;
    min-height: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.g-keyboard:before {
    position: relative;
    padding-top: 210px;
}
.g-keyboard-container {
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}
.g-keyboard-title {
    text-align: center;

}
.g-keyboard-content {
    width: 100%;
    padding-bottom: 50px;
}
.g-keyboard-num.g-keyboard-close {
    position: absolute;
    width: 33.33%;
    left: 0;
    bottom: 0;
}
.g-keyboard-num.g-keyboard-back {
    position: absolute;
    width: 33.33%;
    left: 66.66%;
    bottom: 0;
}
.g-keyboard-num.g-keyboard-last {
    position: absolute;
    width: 33.33%;
    left: 33.33%;
    bottom: 0;
}
.g-keyboard-num {
    position: relative;
    float: left;
    width: 33.33%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #999;
}
